{% extends 'website/base.html' %} 
{% block content %}
<h1>Home Page - V2 Documents Managment Project</h1>
<div class="home-page">
  <p>
    dlhjafdafdsadssdaasddasfdsfdsa fdsdssdfdfsafadsfdadfadsffdsas fasdfsdafdsa.
    afasdfdssaddsfds
    afdafdsadssdaasddasfdsfdsa fdsdssdfdfsafadsfdadfadsffdsas fasdfsdafdsa.
    afasdfdssaddsfds
    afdafdsadssdaasddasfdsfdsa fdsdssdfdfsafadsfdadfadsffdsas fasdfsdafdsa.
    afasdfdssaddsfds
    afdafdsadssdaasddasfdsfdsa fdsdssdfdfsafadsfdadfadsffdsas fasdfsdafdsa.
    afasdfdssaddsfds
  </p>
</div>
{% endblock %}
