{% extends 'website/base.html' %} 
{% load crispy_forms_tags %} 
{% block content %} 
{% if user.is_authenticated %} 
Hi {{ user.username }}

<!-- This is adding the log out button to the home page -->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<h1>Welcome to the Documents Managment App Home page</h1>
<h3>We have the best documents solution for you!</h3>
<h3>Learn more ...</h3>
<p>You are not logged in</p>
<p> Login <a href="{%  url 'login' %}">Here</a> </p>
{% endif %} {% endblock %}
